body{
  width:800px;
  margin:0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td {
    border: 1px solid blue;
    width:66px;
    height:66px;
    text-align: center;
  }
  
  td:hover {
    background:rgb(189, 228, 228);
    cursor: pointer;
  }
  
  table {
    border: 1px solid green;
    width:198px;
    height:198px;
  }

  #p1{
     color:red;
  }
  #p2{
    color:orange;
  }